<% Landmark.all.each do |landmark| %>
  <%= landmark.name %> - <%= landmark.year_completed %><br>
<% end %>

<br></br>

<a class="button" href="landmarks/new">New LANDMARK HERE</a>
<a class="button" href="/figures">View Figures</a>
