<h1><%= @figure.name %></h1>
<label>Titles:</label>
<ul>
  <% @figure.titles.each do |title| %>
    <li><%= title.name %></li>
  <% end %>
</ul>

<label>Landmarks:</label>
<ul>
  <% @figure.landmarks.each do |landmark| %>
    <li><%= landmark.name %></li>
  <% end %>
</ul>
